<div th:fragment="communication" class="col-8 overflow-auto h-50">
    <div class="col justify-content-end">
        <ul class="list-group align-items-end w-100">
            <li class="list-group-item disabled" aria-disabled="true">Отключенный элемент</li>
            <li class="list-group-item">Второй элемент</li>
            <li class="list-group-item">Третий элемент</li>
            <li class="list-group-item">Четвертый элемент</li>
            <li class="list-group-item">И пятый</li>
        </ul>
        <ul class="list-group align-items-start w-100">
            <li class="list-group-item disabled" aria-disabled="true">Отключенный элемент</li>
            <li class="list-group-item">Второй элемент</li>
            <li class="list-group-item">Третий элемент</li>
            <li class="list-group-item">Четвертый элемент</li>
            <li class="list-group-item">И пятый</li>
        </ul>

    </div>
</div>